.container{
    margin-bottom: 100px;
}

.carousel-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
    background-image: linear-gradient(to bottom,#FF4790 0%,#FF247A 100%);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #FF247A;
}
.pricing{
    color: #FF136F;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right,#FFA82F 0%,#FFD019 100%);
}.cat2{
    background-image: linear-gradient(to right,#FF3182 0%,#FF3886 100%);
}
.cat3{
    background-image: linear-gradient(to right,#214580 0%,#316ACB 100%);
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.card h5{
    text-align: center;
}
.card-body .buy-now{
    min-width: 125px;
    margin-left: 50%;
    transform: translate(-50%, 0px);
    background-image: linear-gradient(black,black);
    border: none;
}
.shoes a,.backpack a{
    color: #FFD019;
    font-weight: bold;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.all-catagoris{
    background-color:#E4E4E4;
    padding: 50px 0;
}
.subscribe{
    background-color: #FEEAE9;
    margin-top: 100px;
    height: 300px;
    border-radius: 10px;
}
footer .container{;
}
#Shoes{
 transition: all ease-in-out .4s;
}